{% import "macros.html" as macros %}

<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"/>
		<link rel="stylesheet" href="/main.css"/>
		{% block wholetitle %}
			<title>{% block title %}{% endblock title %} - ACM CTF 2</title>
		{% endblock wholetitle %}
		{% block head %}
		{% endblock head %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.2.0/turbolinks.js"></script>
		<script>Turbolinks.start()</script>
	</head>
	<body>
		<nav>
			<a class="bold nounderline" href="/">ACM CTF 2</a>
			<a href="/sponsoring-ctf3">Sponsoring CTF 3</a>
			<a href="mailto:ctf@remexre.xyz">Contact a Mod</a>
			<span class="spacer"></span>
{% block nav_right %}
{% if me %}
{% if me.team %}
			<a href="/problems">Problems</a>
			<a href="/team">My Team</a>
{% else %}
			<a href="/team/create">Create a Team</a>
			<a href="/team/join">Join a Team</a>
{% endif %}
			{{ macros::post_link(href="/logout", text="Log Out") }}
{% else %}
			<a href="/login">Log In</a>
			<a href="/register">Register</a>
{% endif %}
{% endblock nav_right %}
		</nav>
		<main class="{% block main_classes %}center{% endblock main_classes %}">
			{% block content %}{% endblock content %}
		</main>
	</body>
</html>
