{% import "macros.html" as macros %}

<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
		<link rel="stylesheet" href="/main.css"/>
		{% block wholetitle %}
			<title>{% block title %}{% endblock title %} - ACM CTF 2</title>
		{% endblock wholetitle %}
		{% block head %}
		{% endblock head %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.2.0/turbolinks.js"></script>
		<script>Turbolinks.start()</script>
	</head>
	<body>
		<nav>
			<ul class="nav-left">
				<li><a class="bold nounderline" href="/">ACM CTF 2</a></li>
				<li><a href="/sponsoring-ctf3">Sponsoring CTF 3</a></li>
				<li><a href="mailto:remexre@protonmail.com">Contact a Mod</a></li>
			</ul>
			<ul class="nav-right">
{% if me %}
				<li>Hi, {{ me.name }}!</li>
				<li>{{ macros::post_link(href="/logout", text="Log Out") }}</li>
{% else %}
				<li><a href="/login">Log In</a></li>
				<li><a href="/register">Register</a></li>
{% endif %}
			</ul>
		</nav>
		<main class="{% block main_classes %}center{% endblock main_classes %}">
			{% block content %}{% endblock content %}
		</main>
	</body>
</html>
