{% extends "base.html" %}

{% block title %}Create a Team{% endblock title %}

{% block main_classes %}center vcenter{% endblock main_classes %}

{% block content %}
<form class="box vertical" method="post" style="min-height: 7em; width: 20em;">
	<span><span class="bold">Note:</span> Team names are permanent, and cannot be changed.</span>
	<input {% if bad_name %}class="bad"{% endif %}
		name="name" placeholder="Team Name" type="text"></input>
	<input type="submit" value="Create Team"></input>
</form>
{% endblock content %}
