{% extends "base.html" %}

{% block title %}Register{% endblock title %}

{% block main_classes %}center vcenter{% endblock main_classes %}

{% block content %}
<form class="box vertical" method="post" style="min-height: 10em;">
	{{ macros::flashes() }}
	<input {% if bad_username %}class="bad"{% endif %}
		name="username" placeholder="Username" type="text"></input>
	<input {% if bad_email %}class="bad"{% endif %}
		name="email" placeholder="Email Address" type="email"></input>
	<input type="submit" value="Register"></input>
</form>
{% endblock content %}
