{% extends "base.html" %}

{% block wholetitle %}
<title>Sponsoring ACM CTF 3</title>
{% endblock wholetitle %}

{% block main_classes %}center vcenter{% endblock main_classes %}

{% block content %}
<p>
ACM UMN is running an attack-defense CTF in April. This will be a
cybersecurity competition in which teams compete in both attack and
defense (as opposed to a jeopardy-style competition, which is mainly
attack-focused). Each team is given a computer running a collection of
insecure services. Teams earn points for keeping the services online and
operating correctly according to a specification provided before the
competition, while also having the opportunity to launch attacks on
other teams' services.

We're seeking support for this event in the forms of:

 - Raspberry Pis, used as contestant machines
 - SD Cards, used as storage for the Raspberry Pis
 - Wall-warts and microUSB cables, to power the Raspberry Pis
 - USB to Ethernet Adapters, used for second network interfaces for the
   Raspberry Pis
 - USB to TTL Serial cables, to allow contestant laptops to connect to
   Raspberry Pis
 - (or funds to purchase the above)

Sponsorship would run in the low hundreds of dollars for these options.
Available benefits of sponsorship include:

 - Access to our resume drop
 - Contribute to the writing of challenges
 - Physical prescence at the event, and the opportunity to bring branded swag
 - Your company's logo on our event promotional materials

We're fairly flexible on this event, so if you have any input or
suggestions, we'd love to hear them! If you're interested, email
<a href="mailto:ctf@remexre.xyz">ctf@remexre.xyz</a>.
</p>
{% endblock content %}
