@font-face {
	font-family: Fura;
	src: url(/Fura.woff2) format("woff2");
}

body, html {
	background: black;
	color: white;
	font-family: Fura, monospace;
}
a { color: white; }
pre {
	font-family: Fura, monospace;
	font-size: 1.25em;
}
