@font-face {
	font-family: Fura;
	src: url(/Fura.woff2) format("woff2");
}

html {
	background: #000000;
	color: #ffffff;
	font-family: Fura, monospace;
}

nav {
	background-color: #000000;
	border-bottom: 1px solid #ffffff;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	min-width: 100vw;
	padding: 0 2em;
	position: fixed;
}
nav > a, nav > form {
	display: inline-block;
	padding: 0.75em 1em;
}
nav > span.spacer { flex-grow: 1; }
main {
	box-sizing: border-box;
	min-height: 100vh;
	padding-top: 4em;
}
main.center { align-items: center; display: flex; flex-direction: column; }
main.vcenter { justify-content: center; }
main > div { margin: 2em; }

a { color: #ffffff; }
a.nounderline { text-decoration: none; }
button, input[type="button"], input[type="submit"] {
	background: none;
	border: none;
	color: #ffffff;
	cursor: pointer;
	text-decoration: underline;
}
input[type="email"], input[type="text"] {
	background-color: black;
	border: none;
	border-bottom: 1px solid white;
	color: white;
	margin-right: 4px;
}
input[type="email"].bad, input[type="text"].bad {
	border-bottom-color: #ff0000;
	color: #ff0000;
}
p { white-space: pre-wrap; }
pre { font-family: Fura, monospace; }

.box {
	border: 1px solid #ffffff;
	justify-content: space-around;
	padding: 1em;
}
.vertical {
	display: flex;
	flex-direction: column;
}

.bold { font-weight: bold; }
